body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecb2e9;
}

.step {
    display: none;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.step.active {
    margin-top:300px;
    text-align:center;
    display: block;
    width:10000px;
    height: 10000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}
